// Couleurs principales
$couleur-principale:#60a5fa;
$couleur-secondaire:#e0f2ff;

$bleu-profond: #2563eb;
$bleu-secondaire: #3b82f6;


$blanc-rose: #fff0f5;
$blanc-gris: #f5f5f5;
$text-color:#2d2d2d;
$text-clair: #555;

// Erreur et validation
$erreur: #ef4444;
$avertissement: #facc15;
$succes : #22c55e
