@use "../components" as *;

.dashboard-admin {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dashboard-bar {
  background: $blanc-gris;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 1rem;
  width: 20%;
  height: 750px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.6);
}

.dashboard-title {
  margin: 20px 0;
  text-align: center;
  color: $bleu-profond;
  & h1 {
    cursor: default;
  }
}

.dashboard-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & h3 {
      padding: 10px;
      color: $text-clair;
      cursor: default;
    }
    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
      & a {
        text-decoration: none;
        color: $text-clair;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 1rem;
        &.active-link {
          color: #000000;
          font-weight: bold;
          & span {
            color: $bleu-profond;
          }
        }
      }
    }
  }
}

.dashboard-profil {
  border: 3px solid $text-clair;
  border-radius: 50px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  & a {
    text-decoration: none;
    color: $text-color;
    & p:first-of-type {
      font-weight: bold;
    }
  }
}

.menu-indicator {
  width: 7px;
  height: 45px;
  background: transparent; // invisible par défaut
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background 0.3s ease;
}

.menu-indicator.active {
  background: linear-gradient(to bottom, $bleu-secondaire, $bleu-profond);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.15);
}

a.active-link {
  color: #000000;
  & span {
    color: $bleu-profond;
  }
}

.dashboard-main {
  width: 80%;
  margin: 10px;
  margin-left: 22%;
}

.navbar {
  background: $blanc-gris;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.6);
  & div {
    display: flex;
    align-items: center;
    &:first-of-type {
      font-size: 2rem;
      font-weight: bold;
      color: $text-color;
    }
  }
  > div:nth-child(2) {
    position: relative;
    width: 29%;
    & span {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: $text-clair;
    }
    & input {
      width: 100%;
      padding: 15px 12px 15px 40px;
      border-radius: 15px;
      border: 2px solid $text-clair;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 1);
      &:focus {
        outline: none;
      }
    }
  }
  > div:nth-child(3) {
    width: 10%;
    display: flex;
    gap: 1rem;
    & div {
      background: $bleu-profond;
      padding: 10px;
      border-radius: 50px;
      transition: all 0.3s ease;
      .material-icons {
        color: $blanc-gris;
        font-size: 1.6rem;
        cursor: pointer;
      }
      &:hover {
        background: $blanc-gris;
        border: 1px solid $bleu-profond;
        transform: scale(1.09);
        .material-icons {
          color: $bleu-profond;
        }
      }
    }
  }
}

.main-content {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card-content {
  background: $blanc-gris;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.6);
  > div {
    border: 2px solid $text-clair;
    width: 24%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $bleu-profond;
      transform: scale(1.09);
      border: none;
      > a div:first-of-type > p,
      a div:nth-child(2) {
        color: $blanc-gris;
      }
    }
    > a {
      text-decoration: none;
    }
    > a div:first-of-type {
      position: relative;
      display: flex;
      padding-top: 10px;
      align-items: start;
      justify-content: space-between;
      width: 100%;
      > p {
        font-size: 1rem;
        color: $text-clair;
      }
    }
    > a div:nth-child(2) {
      font-size: 2.5rem;
      color: $bleu-profond;
    }
  }
}

.second-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.graphs-content {
  background: $blanc-gris;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 75%;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.6);
  > div {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    > div:nth-child(2) {
      width: 100%;
      height: 100%;
    }
  }
}

.collaborators-content {
  background: $blanc-gris;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 22%;
  max-height: 450px;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2),
    -2px -2px 6px rgba(255, 255, 255, 0.6);
  > div:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & > div {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 1rem;
      font-size: 1rem;
      & div {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        & div {
          & a {
            text-decoration: none;
            text-align: center;
            color: $bleu-profond;
            border-radius: 10px;
            padding: 5px;
            transition: all 0.3s ease-in-out;
            &:hover {
              background: $bleu-profond;
              color: $blanc-gris;
            }
          }
        }
      }
      & img {
        width: 70px;
        height: 70px;
      }
    }
    & > a {
      text-decoration: none;
      text-align: center;
      color: $bleu-profond;
      font-size: 1rem;
      border-radius: 10px;
      width: 90%;
      align-self: center;
      border: 2px solid $bleu-profond;
      padding: 5px;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: scale(1.09);
        background: $bleu-profond;
        color: $blanc-gris;
      }
    }
  }
}
